@model GeneralStore.MVC.Models.CartItem

@{
    ViewBag.Title = "CreateForProduct";
}

<h2>Adding Products to Shopping Cart</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DateAdded)

    <div class="form-horizontal">
        <h4>CartItem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "Customers", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CustomerID, ViewBag.Customers as IEnumerable<SelectListItem>, "Select Customer", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10 form-control-static">
                @Html.ActionLink(
                                    linkText: Model.Product.Name,
                                    actionName: "Details",
                                    controllerName: "Product",
                                    routeValues: new { id = Model.ProductID },
                                    htmlAttributes: null)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to Cart" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Go to Shopping Cart", "Index")
</div>
