@model GeneralStore.MVC.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>        
        
        <dt>
            @Html.DisplayNameFor(model => model.ProductCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
